body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: black;
}
h1 {
	font-family: 'Monoton', cursive;
	color: red;
	text-align: right;
}
h2 {
	font-family: 'Roboto Mono', monospace;
    color: white;	
}
.characterImage {
    width: 100px;
    height: 100px;
}
#gameText {
    font-family: 'Roboto Mono', monospace;
    color: red;
    font-size: 24px;
}